<% content_for :sitemap do %>
  <span class="current"><%= t("cpanel.menu.category") %></span>
<% end %>
<h1><%=t("cpanel.menu.categories.index")%></h1>

<table class="grid">
  <tr class="head">
    <td class="first">Id</td>
    <td>Name</td>
    <td>Sort</td>
    <td></td>
  </tr>

<% @categories.each do |categorie| %>
  <tr>
    
    <td class="first"><%= categorie.id %></td>
    <td><%= categorie.name %></td>
    <td><%= categorie.sort %></td>
    <td><%= link_to '', edit_cpanel_category_path(categorie) , :class => "icon small_edit" %>
    <%= link_to '', cpanel_category_path(categorie), :confirm => 'Are you sure?', :method => :delete, :class => "icon small_delete" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New categorie', new_cpanel_category_path %>

