<div class="SL">
		
		<!--Start Post-->
		<%@posts.each  do |post|%>
		<div class="post" style="margin-bottom: 20px;">
			<div class="p-head">
				<h2><%= link_to(truncate(post.title, :length => 30), post_path(post), :title => post.title) %> </h2>
				<p class="p-cat">
					By: <%= raw SiteConfig.site_author %> In: <%= link_to(post.category.name, category_posts_path(post.category), :title => post.category.name )%>  Tags:<%=post_tags_tag(post)%> 
				</p>
				<small class="p-time">
					<strong class="day"><%=post.created_at.day%></strong>
					<strong class="month"><%=post.created_at.strftime("%b")%></strong>
					<strong class="year"><%=post.created_at.year%></strong>
				</small>
			</div>
			<div class="p-con">		
				<%=raw post.body_html%>				
      </div>
	 </div>
	 <%end%>
		<!--End Post-->
	 	<%= will_paginate @posts %>
 

	</div> <!--SL-->













