<div class="SR">
<!-- Start Search -->
<div class="search" >
<div id="cse-search-form" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
 google.load('search', '1', {language : 'zh-CN', style : google.loader.themes.V2_DEFAULT});
 google.setOnLoadCallback(function() {
   var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
     '017791625708791975426:3yjmowvffhu', customSearchOptions);
   customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
   var options = new google.search.DrawOptions();
   options.enableSearchboxOnly("/search");
   customSearchControl.draw('cse-search-form', options);
 }, true);
</script>
</div>
<!-- End Search -->


<!-- Start About This Blog -->
<div class="about">
	 <%= raw SiteConfig.about_me_html %>
</div>
<!-- End About This Blog -->

<div id="recent-posts" class="widget widget_recent_entries">		
<h3>近期文章</h3>
<ul>
	<%@aside_posts.each do |post|%>
	<li> <%=link_to post.title,post_path(post)%> </li>
	<%end%>
</ul>
</div>

<div class="widget widget_recent_entries">	
<h3>近期访客</h3>
<ul class="ds-recent-visitors"></ul>
<script type="text/javascript">
var duoshuoQuery = {short_name:"<%=raw Setting.duoshuo_shortname%>"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = 'http://static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
</div> 

<div class="widget widget_recent_entries">	
<h3>近期评论</h3>
<ul class="ds-recent-comments" data-num-items="10" data-show-title="0"></ul>
<script type="text/javascript">
var duoshuoQuery = {short_name:"<%=raw Setting.duoshuo_shortname%>"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = 'http://static.duoshuo.com/embed.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>

<!-- <div id="recentcomments" class="dsq-widget"> 
	<script type="text/javascript" src="http://iceskysl.disqus.com/recent_comments_widget.js?num_items=10&hide_avatars=0&avatar_size=24&excerpt_length=200"></script>
	</div>-->
</div> 


<div id="categories" class="widget widget_categories">
<h3>分类目录</h3>
<ul>
	<%@aside_categories.each do |category|%>
		<li> <%= link_to("#{category.name}(#{category.posts_count})" , category_posts_path(category), :title => category.name )%></li>
	<%end%>
</ul>
</div>

<div id="categories" class="widget widget_categories">
	<h3>按日期归档</h3>
 
	<ul>
		<% @array_mon.each do |i,v| %>
			<li> <%=link_to "#{i}(#{v})" , month_posts_path(i)%>	</li>
		<%end%>
	</ul>
</div>




<div id="recent-posts" class="widget widget_recent_entries">		
<h3>友情链接</h3>
<ul>
	<%@aside_sites.each do |site|%>
		<li> <%=link_to site.name, site.url%>	</li>
	<%end%>
</ul>
</div>

<div id="recent-posts" class="widget widget_recent_entries">		
<h3>数据统计</h3>
<ul>
    <li>文章: <%= Post.count %> 篇</li>
    <li>页面: <%= Page.count %> 页</li>
   	<li>分类: <%= Category.count %> 个</li>
		<li>友情链接: <%= Site.count %> 个</li>
</ul>
</div>

 


</div>	 <!--SR-->
