<div class="SL">
	
		<div class="post" style="margin-bottom: 40px;">
			<div class="p-head">
				<h2><%=link_to @post.title,post_path(@post)%>  </h2>
				<p class="p-cat">By: <%= raw SiteConfig.site_author %> , In: <%=@post.category.name%> , Tag: <%=post_tags_tag(@post)%> </p>
				<small class="p-time">
					<strong class="day"><%=@post.created_at.day%></strong>
					<strong class="month"><%=@post.created_at.strftime("%b")%></strong>
					<strong class="year"><%=@post.created_at.year%></strong>
				</small>
			</div>
			<div class="p-con">		
				<%=raw @post.body_html%>				
     		</div>

		 	<div class="p-con-author">	
				作者： <%= raw SiteConfig.site_author %> <br />
				地址： <%=link_to @post.title,post_path(@post)%>
			</div>
			
			<!-- Duoshuo Comment BEGIN -->
				<div class="ds-thread"></div>
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"<%=raw Setting.duoshuo_shortname%>"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = 'http://static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
				</script>
			<!-- Duoshuo Comment END -->
			
		 
		<!-- <div id="disqus_thread"></div>
		        <script type="text/javascript">
		            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		            var disqus_shortname = '<%=raw Setting.disqus_shortname%>'; // required: replace example with your forum shortname

		            /* * * DON'T EDIT BELOW THIS LINE * * */
		            (function() {
		                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		            })();
		        </script>
		        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		-->
	 </div> 
	
 </div> 